.selector {
  padding-top: 1px;
  background-color: rgba(30,30,30,0.8);
  margin: 20px 0;
  font-size: 2em;
}

.container {
  white-space: nowrap;
  position: relative;
  top: 60px;
}

.frame {
  display: inline-block;
  width: auto;
  vertical-align: top;
}

.portrait {
  width: auto;
  height: 800px;
}

.info {
  height: 800px;
  width: 800px;
  background-color: #460001;
  display: inline-block;
  vertical-align: top;
  align-content: center;
  color: white;
  padding: 0 20px;
  font-size: 1.25em;
  white-space: normal;
}

.charName {
  font-size: 2.2em;
  text-align: center;
}

.description {
  margin-top: 15px;
}
