.selector {
  padding-top: 1px;
  background-color: rgba(30,30,30,0.8);
  margin: 20px 0;
  font-size: 2em;
}

.portrait {
  border-radius: 5px;
  width: 700px;
  height: auto;
}

.description {
  font-size: 1.25em;
  margin-bottom: 50px;
}
