<div class='container' *ngIf="selected">
    <div class="info">
      <p class="charName">{{selected.name}} <span *ngIf="selected.trueName">({{selected.trueName}})</span></p>
      <br>
      <br>
      <p><b>AGE:  </b>{{selected.age}}</p>
      <p><b>HEIGHT:  </b>{{selected.height}}</p>
      <p><b>WEIGHT:  </b>{{selected.weight}}</p>
      <p><b>POWERS:  </b>{{selected.powers}}</p>
      <p>{{selected.description}}</p>
      <button *ngIf="selected.extra" mat-button color="warn" (click)="toggleSpoilers()">{{spoilButton}}</button>
      <p *ngIf="spoil" class="spoiler description"><em>{{selected.extra}}</em></p>
    </div>
      <div class='frame'>
      <img class='portrait' src="{{selected.portraitUrl}}">
    </div>
</div>
