@import url('../../shared/styles/text-box.css');

.frame {
  margin: 0 50px;
  height: 100%;      /* equals max image height */
  width: 30%;
  min-width: 300px;
  white-space: nowrap;
  text-align: center;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.cover {
  vertical-align: middle;
  height: 100%;
  min-width: 300px;
  max-height: 500px;

}

.cover:hover {
  cursor: pointer;
}
