@import url('../../shared/styles/text-box.css');

.text-box {
  height: fit-content;
}

pre {
  padding: 0 20px 30px;
  color: #FFFFFF;
  white-space: pre-line;
  font-size: 1.5em;
  text-align: center;
  overflow-wrap: break-spaces;
  font-family: roboto, sans-serif;
}

a {
  text-decoration: none;
  color: #b0cdd9;
}

a:hover {
  color: #83c1d9;
  text-decoration: underline;
}

#container {
  position: fixed;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  top: 10%;
  height: 60%;
}
