.container {
  background: none;
  width: 84%;
  max-width: none;
  margin: 0 8%;
}

.portrait {
  width: 100%;
  padding: 6px;
}

.bio {
  position: absolute;
  left: 200px;
}

.selectionColumn{
  display: inline-block;
  float: left;
  margin-left: 20px;
}

.selector {
  margin: 20px 0;
  cursor: pointer;
}

.selector:hover {
  color: rgba(255, 156, 13, 0.76);
}

.selected {
  color: #ec7f66;
}
