.container {
  background: none;
  width: 84%;
  max-width: none;
  margin: 0 8%;
}

.row {
  position: relative;
  top: 50px;
  margin-bottom: 50px;
}

.img-thumbnail {
  background-color: orange;
  margin: 0 2%;
}

.portrait {
  width: 100%;
  padding: 6px;
}
