p {
  white-space: pre;
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: #b0cdd9;
}

a:hover {
  color: #83c1d9;
  text-decoration: underline;
}

#container {
  width: 1200px;
  background-color: rgba(0,0,0,0.7);
  margin-left: 10px;
  display: block;
}
