<div class="text-box">
  <h3>Prototype comments</h3>

  <div class="container">
    <form method="POST" #commentForm="ngForm" (submit)="submitComment(commentForm)">
      <div class="form-group">
        <input name="user" type="text"
               class="comment-box name"
               placeholder="name (optional)" maxlength="25" autocomplete="off"
               ngModel>
        <br>
        <textarea name="content"
                  class="comment-box commentInput"
                  placeholder="500 characters max" maxlength="500"
                  ngModel
                  required></textarea>
        <br>
        <button type="submit" class="btn">Submit</button>
      </div>
    </form>
    <div *ngIf="comments">
      <div class="comment-box comment" *ngFor="let comment of comments">
        <p>{{comment.user}}</p>
        <p>{{comment.content}}</p>
        <p>{{comment.date}}</p>
      </div>
    </div>
  </div>


</div>
