@import url('../library/library.component.css');

h3 {
  text-align: center;
  color: #FFFFFF;
}

.comment-box {
  outline: #bebebe solid 1px;
  border: none;
  margin-top: 20px;
  padding-left: 5px;
  background-color: #535353;
  color: #dfdfdf;
}

.name {
  width: 25%;
}


.commentInput {
  width: 50%;
  min-width: 20%;
  height: 3rem;
  min-height: 3rem;
  max-height: 12rem;
  resize: vertical;
  overflow: hidden;
  color: white;
}

.comment {
  word-wrap: break-word;
  padding: 0 10px;
}

.comment-box:focus {
  outline: #fff6d0 solid 1px;
  outline-offset: 0;
}


.comment-box::placeholder{
  padding-left: 3px;
  color: #9e9e9e;
  font-style: italic;
}

.btn {
  margin-top: 20px;
}

.options {
  position: relative;
  float: right;
  top: 10px;
}

.fa-trash-o:hover {
  transition: 0.15s ease-in-out;
  cursor: pointer;
  color: #EE3333;
}

mat-form-field {
  display: inline;
}
