<div class="text-box">
  <h3>Prototype comments</h3>

  <div class="container">
    <form>
        <input #user type="text"
               class="comment-box name"
               placeholder="name (optional)" maxlength="25" autocomplete="off">
        <br>
        <textarea #content
                  class="comment-box commentInput"
                  placeholder="500 characters max" maxlength="500"
                  required></textarea>
        <br>
        <button type="submit" class="btn">Submit</button>
    </form>
    <div *ngIf="comments">
      <div class="comment-box comment" *ngFor="let comment of comments">
        <p>{{comment.user}}</p>
        <p>{{comment.content}}</p>
        <p>{{comment.date}}</p>
      </div>
    </div>
  </div>


</div>
