.bgDark {
  background-image: url("/assets/bgimgs/black_woven_seamless_tile.jpg");
  min-height: 100%;
  color: #EEEEEE;
  overflow: hidden;
}

app-navbar {
  z-index: 100;
  position: fixed;
}

.bgLight {
  background-color: #EEEEEE;
  background-size: 100% 100%;
  min-height: 100%;
  overflow: hidden;
}

footer {
  height: 80px;
}

