h1 {
  font-family: Merienda;
  font-size: 6em;
  font-weight: 400;
  color: #4d64c4;
  user-select: none;
  text-shadow: 1px 1px #202653;
}

.menu {
  padding-left: 10px;
  font-size: 4em;
  color: #4d64c4;
  width: 400px;
  background: rgba(169, 169, 236, 0.2);
}

.main-menu ul{
  width: fit-content;
  list-style-type: none;
  white-space: nowrap;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu:hover {
  color: #ff362e;
  padding-left: 15px;
}
