

h1 {
  font-family: Merienda;
  font-weight: 400;
  color: #83c1d9;
  user-select: none;
  text-shadow: 1px 1px #2a4353;
}

a {
  text-decoration: none;
}

.menu {
  margin: 20px;
  padding-left: 10px;
  font-size: 4em;
  width: 400px;
  background: rgba(169, 169, 236, 0.2);
}

.main-menu nav{
  margin-top: 50px;
  width: fit-content;
  list-style-type: none;
  white-space: nowrap;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  min-height: 100vh;
}

.menu:hover, .active {
  color: #ff362e;
  padding-left: 15px;
  margin-right: 15px;
}

#title {
  font-size: 8em;
}
