[class*='col-'] {
  float: left;
  padding: 20px 20px 0;
  width: inherit;
}

#title {
  font-size: 6em;
  white-space: nowrap;
}

#container {
  font-family: Merienda;
  color: #80c6d9;
  user-select: none;
}

#main-menu {
  background: rgba(0,0,0,0.7);
  width: 400px;
  height: 800px;
  float: left;
}

.menu {
  text-align: center;
  font-size: 4em;
  max-height: 120px;
  min-width:120px;
  background-color: rgba(105, 156, 168, 0.4);
  border-radius: 5px;
}

.menu:hover, .active {
  color: #ff2f3b;
  font-weight: bold;
}

.separator {
  text-align: center;
}

a {
  text-decoration: inherit;
  color: inherit;
}
